<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="../static/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    {%if title %}
    <title>{{title}}</title>
    {%else%}
    <title>Home</title>
    {%endif%}

</head>

{%block content%}

<body>
</body>
{%endblock %}
<script src="/static/bootstrap.bundle.min.js"></script>
<script src="../static/all.min.js"></script>
<script src="../static/index.js"></script>

</html>